<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Crear Persona</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <h2>Agregar Persona</h2>
            <form action="#" th:action="@{/guardar}" th:object="${persona}" method="post">
                <input type="hidden" th:field="*{id}" name="id" id="id">
                <div class="form-group">
                    <label for="oscar">Oscar</label>
                    <input type="text" id="oscar" th:field="*{oscar}" name="oscar"
                           class="form-control">
                </div>                
                <div class="form-group">
                    <label for="edgardo">Edgardo</label>
                    <input type="text" id="edgardo" th:field="*{edgardo}" name="edgardo" class="form-control">
                </div>
                <div class="form-group">
                    <label for="lainez">Lainez</label>
                    <input type="text" id="lainez" th:field="*{lainez}" name="lainez" class="form-control">
                </div>
                <div class="form-group">
                    <label for="carcamo">Carcamo</label>
                    <input type="text" id="carcamo" th:field="*{carcamo}" name="carcamo" class="form-control">
                </div>
                
                <button type="submit" class="btn btn-success">Guardar</button>
            </form>
        </div>
    </body>
</html>
